body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #071330;

    background-image:
        radial-gradient(white 1px, transparent 1px);

    background-size: 40px 40px;

    overflow: hidden;

    font-family: Arial, sans-serif;
}

/* Card */

.card {

    background: white;

    width: 500px;

    text-align: center;

    padding: 30px;

    border-radius: 25px;

    box-shadow: 0 0 30px #ffffff80;

    z-index: 10;
}

h1 {

    color: hotpink;

    text-shadow:
        0 0 10px hotpink,
        0 0 20px pink;
}

input {

    padding: 10px;

    width: 70%;

    margin-top: 10px;
}

button {

    background: hotpink;

    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 10px;

    cursor: pointer;

    margin-top: 10px;

    font-size: 18px;
}

button:hover {

    transform: scale(1.05);
}

#message {

    font-size: 28px;

    color: hotpink;

    font-weight: bold;

    margin-top: 20px;
}

#countdown {

    color: #333;

    margin-top: 20px;
}

/* Balloons */

.balloon {

    width: 90px;

    height: 110px;

    border-radius: 50%;

    position: absolute;

    animation: float 8s infinite alternate;
}

.red {

    background: red;

    left: 10%;
}

.yellow {

    background: yellow;

    left: 30%;
}

.blue {

    background: cyan;

    left: 70%;
}

.green {

    background: lime;

    left: 90%;
}

@keyframes float {

    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-40px);
    }
}

/* Confetti */

.confetti {

    position: fixed;

    width: 10px;

    height: 10px;

    top: -10px;

    animation: fall linear forwards;
}

@keyframes fall {

    to {

        transform:
            translateY(100vh)
            rotate(720deg);
    }
}